*{
margin: 0;
padding: 0;

}

body {
    background-color: rgb(204, 204, 204);
}

header {
  width: 100;
  height: 200px;
  padding: 5rem;
  text-align: center;
  background-image: linear-gradient(
    to bottom,
    rgb(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),
  url("../img/banner.jpg");
  background-color: transparent;

}

h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: aliceblue;
  font-size: 60px;
  text-align: center;
  font-family:sans-serif;
}

.anchors {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-content: start;
  font-family:sans-serif;
  font-weight: bold;
  margin-top: 10%;
  color: rgb(209, 254, 254);
}

.anchor1 {
    width: 10%;  
}

.anchor2 {
    width: 10%;  
}

.anchor3 {
    width: 10%;  
}

a{
    text-decoration: none;
    list-style: none;
    transition: color 0.4s ease;
    color: aliceblue;
}

a:hover{
    color: rgb(11, 212, 234);
    
}

/*-----------------------------MAIN----------------------------*/
h2{
    text-align: center;
    font-family:sans-serif;
    font-weight: bold;
    margin-top: 5%;
    font-size: 50px;
}

.imageProfile {
  width: 300px;
  height: 300px;
  border-radius: 10%;
  transition: transform 0.5s ease;
}

.imageProfile:hover {
  transform: scale(1.1);
}

.aboutUs {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.aboutUsJeni, .aboutUsInma {
  display: flex;
  justify-content: center;
  padding: 3%;
}


p {
  width: 30%;
  padding: 3%;
  font-size: 20px;
}

.hobbies {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    color: aliceblue;
    margin-top: 5%;
   
}

.hobbiesJeni, .hobbiesInma{
  background-color: rgb(23, 52, 111);
  padding: 5rem;
  border-radius: 20%;
  transition: background-color 0.5s ease;
}

.hobbiesJeni:hover, .hobbiesInma:hover {
  background-color: rgb(54, 101, 195);

}

.pHobbies {
  width: 100%;
}

.petNina{
display: flex;
flex-direction: column;
background-color: rgb(23, 52, 111);
width: 500px;
height: 500px;
}

#photoNina{
  width: 300px;
  height: 300px;

}

#pNina{
  font-size: 15px;
}