header {


    width: 100;
    height: 200px;
    padding: 5rem;
    text-align: center;
    background-image: url("../img/banner.jpg");
}


 h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    font-size: 60px;
    text-align: center;
 }


 .anchors{
    width: 60%;
    display: flex;
    text-align: center;
    justify-content: center;
    justify-content: space-between;
 }


 a{
    background-color: aquamarine;
    width: 20%;
    height: 20%;
 }


.imageProfile{
    width: 300px;
    height: 300px;
    border-radius: 10%;
    transition: transform 0.5s ease;
}


.imageProfile:hover {
    transform: scale(1.1);
}


.aboutUs {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.aboutUsJeni{
    display: flex;
    justify-content: center;
    padding: 3%;
}


.aboutUsInma{
    display: flex;
    justify-content: center;
    padding: 3%;
}


p {
    width: 30%;
    padding: 3%;
    font-size: 20px;
}
